<h1><%= @store['result']['name'] %></h1>
<%= @store['result']['address_line_1'] %><br />
<%= @store['result']['city'] %><br />
<h3>Hours</h3>
Sunday: <%= (@store['result']['sunday_open']) / 60 %>:<%= (@store['result']['sunday_open']) % 60 %> - <%= (@store['result']['sunday_close']) / 60 %>:<%= (@store['result']['sunday_close']) % 60 %><br />
Monday: <%= (@store['result']['monday_open']) / 60 %>:<%= (@store['result']['monday_open']) % 60 %> - <%= (@store['result']['monday_close']) / 60 %>:<%= (@store['result']['monday_close']) % 60 %><br />
Tuesday: <%= (@store['result']['tuesday_open']) / 60 %>:<%= (@store['result']['tuesday_open']) % 60 %> - <%= (@store['result']['tuesday_close']) / 60 %>:<%= (@store['result']['tuesday_close']) % 60 %><br />
Wednesday: <%= (@store['result']['wednesday_open']) / 60 %>:<%= (@store['result']['wednesday_open']) % 60 %> - <%= (@store['result']['wednesday_close']) / 60 %>:<%= (@store['result']['wednesday_close']) % 60 %><br />
Thursday: <%= (@store['result']['thursday_open']) / 60 %>:<%= (@store['result']['thursday_open']) % 60 %> - <%= (@store['result']['thursday_close']) / 60 %>:<%= (@store['result']['thursday_close']) % 60 %><br />
Friday: <%= (@store['result']['friday_open']) / 60 %>:<%= (@store['result']['friday_open']) % 60 %> - <%= (@store['result']['friday_close']) / 60 %>:<%= (@store['result']['friday_close']) % 60 %><br />
Saturday: <%= (@store['result']['saturday_open']) / 60 %>:<%= (@store['result']['saturday_open']) % 60 %> - <%= (@store['result']['saturday_close']) / 60 %>:<%= (@store['result']['saturday_close']) % 60 %>
